<a href="https://colab.research.google.com/github/tastiz/projects.py/blob/master/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'baseball'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

import pandas as pd

sql = 'SELECT p.playerid, birthyear, birthcountry, deathyear, namefirst, namelast, weight, height, bats, throws, yearid, teamid, lgid, salary FROM people p join salaries s on p.playerid = s.playerid'

players_df = pd.read_sql_query(sql, con=engine)

engine.dispose()

players_df.describe()

players_df = players_df.assign(bmi = (703 * players_df.weight)/(players_df.height**2))

players_df['X'] = 0

players_df_changed = players_df.drop(['X'], axis = 1)

#print('The columns of the new DataFrame')
#print(players_df_changed.columns)

#print('The columns of the original DataFrame')
#print(players_df.columns)

players_df.drop(['X'], axis = 1, inplace=True)
#print('The columns of the DataFrame after deleting inplace')
#print(players_df.columns)

#select sepecific rows with iloc returning result in multiple rows
#players_df.iloc[0]

#double brackets returns the result as a list in a single row
#players_df.iloc[[0]]

players_df.iloc[4:11]

#creates boolean values everytime the statement is True
over_200 = players_df['weight'] > 200

#counts the amount of True and False values the table holds
over_200.value_counts()

#returns the rows where the over_200 parameters are true
#players_df.iloc[over_200.values]

over_200_L_R = (players_df['weight'] > 200) & (players_df['bats'] == 'L') & (players_df['throws'] == 'R')

#select on both axis
players_df.iloc[0:10, 4:10]

cle_options = (players_df['teamid'] == 'CLE') & (players_df['yearid'] == 2015)
cle_2015 = players_df.iloc[cle_options.values, [0, 1, 4, 5, 6, 7, 8, 9, 13]]

#sorting the players by weight
weight_asc = cle_2015.sort_values(by='weight')

weight_height_asc = cle_2015.sort_values(by=['weight', 'height'])


years = (players_df['yearid'] >= 2011) & (players_df['yearid'] <= 2015)
five_years = players_df.iloc[years.values, [4,5,10,13]]

five_years = five_years.assign(fullname = five_years.namefirst + ' ' + five_years.namelast)


#returns all the rows for a specific player
five_years.iloc[(five_years['fullname'] == 'Henry Blanco').values]

five_years = five_years.drop_duplicates(['fullname', 'yearid'])

#creates a pivot table 
#five_years.pivot(index='fullname', columns='yearid', values='salary')

players_no_duplicates = players_df.drop_duplicates(['playerid'])

#creates a table that shows the distribution of throwing to batting
pd.crosstab(players_no_duplicates['bats'], players_no_duplicates['throws'])

In [52]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'fueleconomy'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

vehicles_df = pd.read_sql_table('vehicles', con=engine)

engine.dispose()

#counts the number of cars in each year
#vehicles_df['year'].value_counts()

#counts the fuel types
#vehicles_df['fuel'].value_counts()

#pd.crosstab(vehicles_df['year'], vehicles_df['fuel'])

bools = (vehicles_df['cyl'] == 6) & (vehicles_df['year'] == 2003)
six_cyl_df = vehicles_df.iloc[bools.values]

sorted_six_cyl_df = six_cyl_df.sort_values(by='hwy', ascending=False)
#sorted_six_cyl_df.head(10)

#nlargest sorts the table returning the number of interested rows by the 
#designated parameter.  can also take a third parameter 'keep' to deal with 
#duplicates
six_cyl_df.nlargest(10, columns='hwy')

          id        make             model  year  ... displ     fuel hwy  cty
5450   18731   Chevrolet            Impala  2003  ...   3.4  Regular  29   19
5873   18646   Chevrolet       Monte Carlo  2003  ...   3.4  Regular  29   19
32123  18619  Volkswagen             Jetta  2003  ...   2.8  Premium  28   19
26     18459       Acura             3.2CL  2003  ...   3.2  Premium  27   17
31     18629       Acura             3.2TL  2003  ...   3.2  Premium  27   17
1376   18398         BMW             325ci  2003  ...   2.5  Premium  27   18
1403   18469         BMW              325i  2003  ...   2.5  Premium  27   18
1430   18761         BMW  325i Sport Wagon  2003  ...   2.5  Premium  27   18
1609   18400         BMW             330ci  2003  ...   3.0  Premium  27   18
1637   18473         BMW              330i  2003  ...   3.0  Premium  27   18

[10 rows x 12 columns]