<a href="https://colab.research.google.com/github/tastiz/projects.py/blob/master/dvdrentals_revise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))
sql = 'SELECT * FROM film LIMIT 1'

reference = engine.execute(sql)

engine.dispose()

reference.keys()

['film_id',
 'title',
 'description',
 'release_year',
 'language_id',
 'original_language_id',
 'rental_duration',
 'rental_rate',
 'length',
 'replacement_cost',
 'rating',
 'last_update',
 'special_features',
 'fulltext']

In [0]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))



#Selects all columns from dvdrentals table
sql = '''SELECT COUNT(*) FROM film'''

dvds = engine.execute(sql)

engine.dispose()


#Counts the amount of movies at each rating
sql = '''SELECT COUNT(DISTINCT rating) FROM film'''

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

rating_count = engine.execute(sql)

engine.dispose()

rows = rating_count.fetchall()

#Average rental duration for each rating
sql = '''SELECT AVG(rental_duration) FROM film'''

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

rental_time = engine.execute(sql)

engine.dispose()

rows = rental_time.fetchall()

#Select all movies by length of film and run through a function to find the mean
sql = '''SELECT length FROM film '''

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

running_time = engine.execute(sql)

engine.dispose()

rows = running_time.fetchall()

running_time_list = [x['length'] for x in rows]
print(running_time_list)

#find the average running time for all films
def mean(running_time_list):
  total_time = 0
  for time in running_time_list:
    total_time += time
  print(total_time)
  print("running time list = ")
  print(running_time_list)
  total_movies = len(running_time_list)
  average_time = total_time / 1
  return average_time
print('The average running time for movies is {} minutes.'.format(mean(running_time_list)))

#finds the median running time
def median(running_time_list):
  running_time.sort()
  total_movies = len(running_time_list)
  isEven = total_movies % 2 == 0 

  if (isEven):
    mid = math.floor(total_movies / 2)
    a = running_time[mid -1]
    b = running_time[mid]
    result = (a +b) / 2
  else:
    result = running_time[math.floor(total_movies / 2)]

  return result

#finds the standard deviation of the movie times
def std_deviation(running_time_list):
  x_bar = mean(running_time_list)
  n = len(running_time_list)
  total_sum = 0
  for time in running_time_list:
    diff = time - x_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (n -1))
  return sigma
print('The standard deviation for movie times is {} minutes'.format(std_deviation(running_time_list)))

In [0]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

# finds the number of movies at each rating
sql = 'SELECT rating, COUNT(*) FROM film GROUP BY rating'

count_ratings = engine.execute(sql)

engine.dispose()

for row in count_ratings:
  print(row)

In [0]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

#finds the average days rented for each rating
sql = 'SELECT rating, ROUND(AVG(rental_duration),1) FROM film GROUP BY rating'

average_rental_time = engine.execute(sql)

engine.dispose()

for row in average_rental_time:
  print(row)

In [47]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

#finds the information to run through the average function
sql = 'SELECT length FROM film'

film_time = engine.execute(sql)

engine.dispose()

running_time_list = [x['length'] for x in rows]

def average_time(running_time_list):
  count = len(running_time_list)
  total = 0
  for time in running_time_list:
    total += time
  found_average = total / count
  print('The average running time for these films is {} minutes.'.format(found_average))

average_time(running_time_list)

The average running time for these films is 115.272 minutes.

In [0]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

sql = 'SELECT length FROM film'

running_time = engine.execute(sql)

engine.dispose()

running_time_list = [row['length'] for row in rows]