<a href="https://colab.research.google.com/github/tastiz/projects.py/blob/master/dvdrentals_revise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:

from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

# finds the number of movies at each rating
sql = 'SELECT rating, COUNT(*) FROM film GROUP BY rating'

count_ratings = engine.execute(sql)

engine.dispose()

for row in count_ratings:
  print(row)

('R', 195)
('NC-17', 210)
('PG', 194)
('PG-13', 223)
('G', 178)

In [62]:

from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

#finds the average days rented for each rating
sql = 'SELECT rating, ROUND(AVG(rental_duration),1) FROM film GROUP BY rating'

average_rental_time = engine.execute(sql)

engine.dispose()

for row in average_rental_time:
  print(row)

('R', Decimal('4.8'))
('NC-17', Decimal('5.1'))
('PG', Decimal('5.1'))
('PG-13', Decimal('5.1'))
('G', Decimal('4.8'))

In [63]:

from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

#finds the information to run through the average function
sql = 'SELECT length FROM film'

film_time = engine.execute(sql)

engine.dispose()

running_time_list = [x['length'] for x in rows]

def average_time(running_time_list):
  count = len(running_time_list)
  total = 0
  for time in running_time_list:
    total += time
  found_average = total / count
  print('The average running time for these films is {} minutes.'.format(found_average))

average_time(running_time_list)

The average running time for these films is 115.272 minutes.

In [64]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

sql = 'SELECT length FROM film'

running_time = engine.execute(sql)

engine.dispose()

running_time_list = [row['length'] for row in rows]

def median_find(running_time_list):
  count = len(running_time_list)
  is_even = count % 2 == 0 
  if(is_even):
    mid = math.floor(count/2)
    a = running_time_list[mid -1]
    b = running_time_list[mid]
    median_result = (a+b) / 2
  else:
    median_result = running_time_list[math.floor(count / 2)]

  print('The median film length is {} minutes.'.format(median_result))

median_find(running_time_list)

The median film length is 152.0 minutes.

In [60]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

sql = 'SELECT length FROM film'

running_time = engine.execute(sql)

engine.dispose()

running_time_list = [row['length'] for row in rows]
def average_time(running_time_list):
  count = len(running_time_list)
  total = 0
  for time in running_time_list:
    total += time
  found_average = total / count
  return found_average

def std_deviation(running_time_list):
  x_bar = average_time(running_time_list)
  n = len(running_time_list)
  total_sum = 0
  for time in running_time_list:
    diff = int(time) - x_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum/(n-1))
  return sigma

print('The standard devation for the film lenth is {} minutes.'.format(std_deviation(running_time_list)))

The standard devation for the film lenth is 40.42633181855987 minutes.