<a href="https://colab.research.google.com/github/tastiz/projects.py/blob/master/houseStatsPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Finds the amount of rows, which is 1460

In [0]:
from sqlalchemy import create_engine
import pandas as pd
from scipy import stats
import math

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

houseprice_df = pd.read_sql_table('houseprices', con=engine)

# remove the connection
engine.dispose()

houseprice_df.shape

Identifies the amount of null values in the table.  Alley type and lotfrontage are noteably the least filled

In [0]:
from sqlalchemy import create_engine
import pandas as pd
from scipy import stats
import math

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

houseprice_df = pd.read_sql_table('houseprices', con=engine)

# remove the connection
engine.dispose()

houseprice_df.info(null_counts=True)

Returns the Types of mszoning and the count for each

In [0]:
# To keep the page organized do all imports here
from sqlalchemy import create_engine
import pandas as pd
from scipy import stats
import math

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

houseprice_df = pd.read_sql_table('houseprices', con=engine)

# remove the connection
engine.dispose()

mszoning_count = houseprice_df['mszoning'].value_counts()
mszoning_count

Returns the types of street and associated count

In [0]:
# To keep the page organized do all imports here
from sqlalchemy import create_engine
import pandas as pd
from scipy import stats
import math

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

houseprice_df = pd.read_sql_table('houseprices', con=engine)

# remove the connection
engine.dispose()

street_count = houseprice_df['street'].value_counts()
mszoning_count