<a href="https://colab.research.google.com/github/tastiz/projects.py/blob/master/houseStatsPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Finds the amount of rows, which is 1460

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from scipy import stats
import math

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

houseprice_df = pd.read_sql_table('houseprices', con=engine)

# remove the connection
engine.dispose()

houseprice_df.shape

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

(1460, 81)

Identifies the amount of null values in the table.  Alley type and lotfrontage are noteably have the most null values

In [0]:
houseprice_df.info(null_counts=True)

Returns the Types of mszoning and the count for each

In [0]:
mszoning_count = houseprice_df['mszoning'].value_counts()
mszoning_count

Returns the types of street and associated count

In [0]:
street_count = houseprice_df['street'].value_counts()
street_count

Pave    1454
Grvl       6
Name: street, dtype: int64

Describes the range of values for the saleprice column

In [0]:
houseprice_df['saleprice'].describe()

Describes the range for the lotarea column

In [0]:
houseprice_df['lotarea'].describe()

Finding if a significant differnce betwen porchs and no porchs with their sales prices.  The resulting p-value of less than 0.05 suggests that we can reject the null hypothesis and there is a significant difference between sales prices of homes with porchs versus without.

In [15]:
porch_house = houseprice_df.iloc[(houseprice_df['openporchsf'] > 0).values]
no_porch_house = houseprice_df.iloc[(houseprice_df['openporchsf'] == 0).values]


stats.ttest_ind(porch_house['saleprice'], no_porch_house['saleprice'])

Ttest_indResult(statistic=17.31355834212178, pvalue=3.209770265256579e-61)

There is a low correlation of 0.26 between lotarea and sale price suggesting a low and positive correlation

In [16]:
from sqlalchemy import create_engine
import pandas as pd
from scipy import stats
import math

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'houseprices'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

houseprice_df = pd.read_sql_table('houseprices', con=engine)

# remove the connection
engine.dispose()

houseprice_df[['saleprice', 'lotarea']].corr()

           saleprice   lotarea
saleprice   1.000000  0.263843
lotarea     0.263843  1.000000