<a href="https://colab.research.google.com/github/tastiz/projects.py/blob/master/ksWithPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using the shape method, the number of rows in this table is 65418

In [2]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine
import pandas as pd

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

ksprojects_df = pd.read_sql_table('ksprojects', con=engine)

engine.dispose()

ksprojects_df.shape

(65418, 13)

Returns the names of the columns

In [3]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

ksprojects_df = pd.read_sql_table('ksprojects', con=engine)

engine.dispose()

ksprojects_df.columns

Index(['id', 'name', 'category', 'main_category', 'deadline', 'goal',
       'launched', 'state', 'backers', 'country', 'usd_pledged', 'currency',
       'pledged'],
      dtype='object')

Returns all the non-null values for each column.  Shows that every row column is completly filled

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

ksprojects_df = pd.read_sql_table('ksprojects', con=engine)

engine.dispose()

ksprojects_df.info(null_counts=True)

Returns the top 10 pledge amounts for the Documentary Category

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

ksprojects_df = pd.read_sql_table('ksprojects', con=engine)

engine.dispose()


bools = (ksprojects_df['category'] == 'Documentary') 
documentary_df = ksprojects_df.iloc[bools.values]
documentary_df.nlargest(10, columns='pledged')

Creates the new column average pledge per backer

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

ksprojects_df = pd.read_sql_table('ksprojects', con=engine)

engine.dispose()

ksprojects_df = ksprojects_df.assign(average_per_backer = (ksprojects_df.pledged/ksprojects_df.backers))
ksprojects_df

Creates a boolean test to eliminate all rows with 0 backers

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

ksprojects_df = pd.read_sql_table('ksprojects', con=engine)

engine.dispose()

ksprojects_df = ksprojects_df.assign(average_per_backer = (ksprojects_df.pledged/ksprojects_df.backers))
ksprojects_df

backed = ksprojects_df['backers'] > 0 
ksprojects_df.iloc[backed.values]

Returns a crosstab table with the category as the rows with state of funding as the columns

In [25]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine
import pandas as pd


# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

ksprojects_df = pd.read_sql_table('ksprojects', con=engine)

engine.dispose()

pd.crosstab(ksprojects_df['category'], ksprojects_df['state'])

state        canceled  failed  live  successful  suspended  undefined
category
3D Printing        17      59     3          43          2          1
Academic           21      86     3          43          4          0
Accessories        48     238    16         121          2          1
Action             14      79     1          16          0          0
Animals             2      31     0          11          1          0
...               ...     ...   ...         ...        ...        ...
Woodworking        10     125     4          38          2          0
Workshops           0      12     1           8          1          0
World Music        31     174     2         168          1          0
Young Adult        16      78     1          23          0          0
Zines               6      26     1          17          0          0

[158 rows x 6 columns]