<a href="https://colab.research.google.com/github/tastiz/projects.py/blob/master/PyEvaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reverses a string two ways

In [0]:
def function_reverse(x):
  print(x[::-1])

function_reverse('forward')

def reverse(string):
  reversed_string = ''
  for i in string:
    reversed_string = i+reversed_string
  print(string +' reversed string is:',reversed_string)

reverse('forward')

drawrof
forward reversed string is: drawrof

In [0]:
# Import the SQL ALchemy engine
from sqlalchemy import create_engine
import pandas as pd

# Database credentials
postgres_user = 'dabc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'bitcoinhistoricaldata'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

Discover the table names, which can then be explored to find common column names to join tables together

In [0]:
sql="""
SELECT
   tablename
FROM
   pg_catalog.pg_tables
WHERE
   schemaname != 'pg_catalog'
AND schemaname != 'information_schema';"""

print(pd.read_sql_query(sql, engine))

In [0]:
bitstamp_df = pd.read_sql_table('bitstamp', con=engine)
engine.dispose()

bitstamp_df.columns

In [0]:
bitflyer_df = pd.read_sql_table('bitflyer', con=engine)
engine.dispose()

bitflyer_df.columns

In [0]:
coinbase_df = pd.read_sql_table('coinbase', con=engine)
engine.dispose()

coinbase_df.columns

In [0]:
coincheck_df = pd.read_sql_table('coincheck', con=engine)
engine.dispose()

coincheck_df.columns

Joins all tables together on ID

> Indented block

In [0]:
sql = 'SELECT * FROM bitstamp bs JOIN bitflyer bf ON bs.id=bf.id JOIN coinbase cb ON bs.id=cb.id JOIN coincheck cc ON bs.id=cc.id'
print(pd.read_sql_query(sql, engine))